#banner
	.banner_content
		%h1 File Cabinet
		%p My Business bootstrap
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Our Father
				%p Our Father, Who art in heaven
Hallowed be Thy Name;
Thy kingdom come,
Thy will be done,
on earth as it is in heaven.
Give us this day our daily bread,
and forgive us our trespasses,
as we forgive those who trespass against us;
and lead us not into temptation,
but deliver us from evil. Amen.	


#bottom_cta
	.wrapper
		%h2 Go futher more!
		%br
		%button= link_to "Join Now", new_user_registration_path 
